@model IEnumerable<EmployeeManagement2.Models.SuneetEmployee>;
<h2>Search Results</h2>

<table class="table">
        <tr>
    <th>EmployeeId</th>
    <th>FirstName</th>
    <th>LastName</th>
    
</tr>

@foreach(var item in Model)
{
    <tr>
        <td>@item.EmployeeId</td>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td> <a asp-action="Edit"asp-route-id="@item.EmployeeId">Edit</a></td>
        <td> <a asp-action="Delete"asp-route-id="@item.EmployeeId">Delete</a></td>
        <td> <a asp-action="Details"asp-route-id="@item.EmployeeId">Details</a></td>
        </tr>

}
</table>